@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* css for the logo and the header  */
#my-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body.dark-mode #my-image {
  filter: invert(1);
}
#logo {
  position: relative;
  height: 200px; /* set the height of the container to a fixed value */
  margin-top: 50px;
}
#logo img {
  height: 30vh;
}
#logo h2 {
  font-family: roboto;
}

/* css for search bar and search button  */
.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 3px 3px 25px #969696,
             -3px -3px 25px #ffffff;
}
.search-container {
  display: flex;
  align-items: center;
  padding: 20px;
}
.search-input {
  width: 70%;
  padding: 10px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #4285f4;
  /* background-color: aliceblue; */
  font-weight: bold;
}

.search-input ::placeholder {
  color: #333; /* Default color for light mode */
}
body.dark-mode .search-input::placeholder {
  color: #f0f0f0; /* Default color for dark mode */
}
body.dark-mode .search-input {
  background-color: #716f6f;
  color: white;
  font-weight: bold;
}

.search-button {
  width: 30%;
  padding: 10px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 0 20px 20px 0;
  font-weight: bolder;
}

/* css for search result  */
#results a {
  text-decoration: none;
  text-transform: capitalize;
  color: #4285f4;
  font-weight: bold;
}
